<!DOCTYPE html> {% extends 'camp/base.html' %}
<html lang="en">
{% block head %}
<style>

</style>
{% endblock %} {% block body %}

<div class="camp">
    <div class="splash">
        <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/{{nome}}_0.jpg">
    </div>
    <div class="resumo">
        <h2 class="nome">{{nome}}</h2>
        <h5 class="titulo">"{{titulo}}"</h5>
    </div>
</div>

<div class="itens">
    <div class="iniciais_texto">
        <h3>Itens iniciais</h3>
    </div>
    <div class="iniciais">
        <img src="http://ddragon.leagueoflegends.com/cdn/10.9.1/img/item/{{inicial1}}.png">
        <img src="http://ddragon.leagueoflegends.com/cdn/10.9.1/img/item/{{inicial2}}.png">
        <img src="http://ddragon.leagueoflegends.com/cdn/10.9.1/img/item/{{inicial3}}.png">
    </div>
    <div class="core_texto">
        <h3>Itens core</h3>
    </div>
    <div class="core">
        <img src="http://ddragon.leagueoflegends.com/cdn/10.9.1/img/item/{{item1}}.png">
        <img src="http://ddragon.leagueoflegends.com/cdn/10.9.1/img/item/{{item2}}.png">
        <img src="http://ddragon.leagueoflegends.com/cdn/10.9.1/img/item/{{item3}}.png">
    </div>
    <div class="situacionais_texto">
        <h3>Itens situacionais</h3>
    </div>
    <div class="situacionais">
        <img src="http://ddragon.leagueoflegends.com/cdn/10.9.1/img/item/{{item4}}.png">
        <img src="http://ddragon.leagueoflegends.com/cdn/10.9.1/img/item/{{item5}}.png">
        <img src="http://ddragon.leagueoflegends.com/cdn/10.9.1/img/item/{{item6}}.png">
    </div>
    <div class="completa_texto">
    </div>
    <div class="completa">
        <h3>Build completa</h3>
        <img src="http://ddragon.leagueoflegends.com/cdn/10.9.1/img/item/{{item1}}.png">
        <img src="http://ddragon.leagueoflegends.com/cdn/10.9.1/img/item/{{item2}}.png">
        <img src="http://ddragon.leagueoflegends.com/cdn/10.9.1/img/item/{{item3}}.png">
        <img src="http://ddragon.leagueoflegends.com/cdn/10.9.1/img/item/{{item4}}.png">
        <img src="http://ddragon.leagueoflegends.com/cdn/10.9.1/img/item/{{item5}}.png">
        <img src="http://ddragon.leagueoflegends.com/cdn/10.9.1/img/item/{{item6}}.png">
    </div>
</div>


{%endblock%}

</html>