<!DOCTYPE html>
<html>
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>{{info.nome}} build ProBuildsParaguay</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'prob/home_style.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'prob/build_style.css'%}">
    <script src="{% static 'prob/pesq.js' %}"></script>

</head>

<body>
    <main>
        <header>

            <h3 class="titulo">ProBuildsParaguay</h3>
            <a href="/home">Homepage</a>
            <a href="/camp">Campeões</a>
            <div class="pesquisa">
                <input type="text" id="pesquisa" name="pesquisa" placeholder="Ex: Talon">
                <button class="bp" onclick="Pesquisa()"></button>
            </div>

        </header>



        <section>
            <div id="camp">
                <img id='splash' src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/{{info.nomelimpo}}_0.jpg">
                <div id="info">
                    <h2 id="nome">{{info.nome}}</h2>
                    <h5 id="titulo">"{{info.titulo}}"</h5>
                </div>
                <h3 id='spells'>Habilidades</h3>
                <div id='qspell'>
                    <img class='spell_img' src='http://ddragon.leagueoflegends.com/cdn/10.12.1/img/spell/{{spells.qspell.id}}.png'>
                    <h5 class='spell_txt'> • {{spells.qspell.nome}}</h5>
                </div>
                <div id='wspell'>
                    <img class='spell_img' src='http://ddragon.leagueoflegends.com/cdn/10.12.1/img/spell/{{spells.wspell.id}}.png'>
                    <h5 class='spell_txt'> • {{spells.wspell.nome}}</h5>
                </div>
                <div id='espell'>
                    <img class='spell_img' src='http://ddragon.leagueoflegends.com/cdn/10.12.1/img/spell/{{spells.espell.id}}.png'>
                    <h5 class='spell_txt'> • {{spells.espell.nome}}</h5>
                </div>
                <div id='rspell'>
                    <img class='spell_img' src='http://ddragon.leagueoflegends.com/cdn/10.12.1/img/spell/{{spells.rspell.id}}.png'>
                    <h5 class='spell_txt'> • {{spells.rspell.nome}}</h5>
                </div>
        </section>
        <footer class='footer'>
            <h10>SeuMadroguinhas e SrWalkerB ™ Todos os direitos reservados</h10>
        </footer>
    </main>
</body>

</html>