body {
    margin: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    background-color: #fffff2;
}

.info {
    margin-top: 50px;
    margin-left: 75px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    padding: 5px;
    border-radius: 7px;
}

header a:hover {
    background-color: #cccccc;
    opacity: 1;
}

.titulo {
    margin-left: 50px;
}

.pesquisa {
    display: flex;
    margin-right: 25px;
    margin-top: 10px;
}

#pesquisa {
    border: 3px solid #8e9dcc;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

#pesquisa:focus {
    color: #8e9dcc;
}

.bp {
    width: 40px;
    height: 36px;
    border: 1px solid #8e9dcc;
    background-image: url("https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/search-512.png");
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}

.SQasset {
    border-radius: 5px;
    height: 50px;
    width: 50px;
    display: flex;
}

#rotações {
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    row-gap: 15px;
    column-gap: 15px;
    background-color: #efeff0;
    padding: 15px;
    border-radius: 7px;
    margin-top: 75px;
}

#rot_texto {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 6;
    justify-self: center;
    align-self: center;
}

#section1 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 75px;
}

#section2 {
    display: flex;
    justify-content: space-around;
}

#icone {
    height: 50px;
    width: 50px;
    border-radius: 7px;
    grid-column: 1;
    margin-right: 5px;
}

#rank {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    background-color: #efeff0;
    border-radius: 7px;
}

#rank_titulo {
    grid-row: 1;
    grid-column: 1 / span 2;
    align-self: center;
    justify-self: center;
}

#status {
    background-color: #efeff0;
    border-radius: 7px;
}

#serviço {
    justify-self: center;
    align-self: center;
    margin-left: 50px;
    margin-top: 25px;
}

footer {
    margin-top: 25px;
    font-size: 12;
    display: flex;
    align-self: center;
    justify-self: center;
}