<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    {% block head %}{% endblock %}
    <style>

    </style>
    <title>Probuilds Paraguay</title>
    <!-- Add additional CSS in static file -->
    <script src="{% static 'prob/pesq.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'prob/style.css'%}">

</head>

<body>

    <div>
        <ul class="barra">
            <li class="titulo">Probuilds Paraguay</li>
            <li class="home"><a href="/home">Homepage</a></li class="home">
            <li class="home"><a href="/camp">Campeões</a></li class="home">
            <button class="bp" onclick="Pesquisa()">Pesquisar</button>
            <div class="barra">
                <li class="pesq">
                    <input type="text" id="pesquisa" name="pesquisa" placeholder="Pesquisar Campeões">
                </li>
            </div>
        </ul class="barra">
    </div>

    {% block body %}{% endblock %}
</body>

</html>