html{
    font-family: 'Roboto', sans-serif;
    background-color: #F0FFFF;
}

a {
    text-decoration: none;
    font-size: 18px;
}

main{
    display: flex;
}

.info{
    width: 650px;
    margin: 190px 30px;
    font-size: 30px;
}

#page-home header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page-home .content{
    width: 90%;
    max-width: 1500px;
    margin: auto auto;
}

#page-home .content #search-icon{
    margin-left: -160px;
}
